* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container {
  padding-top: 1rem;
  width: 50%;
}
.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-group {
  transition: 0.5s ease-in-out;
}
.list-group:hover {
  opacity: 0.5;
  cursor: pointer;
}
.no-path-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:  0.5s ease-in-out,
                   transform 150ms ease;
}
.go-back-button {
   display: block;
   margin: 0 auto;
   font-size: 1rem;
   font-weight: 200;
   background: #FFFFFF;
   border: black 0.75px solid;
   width: 10rem;
   margin: 2rem 0;
   border-radius: 1em;
   padding: 10px 25px;
   cursor: pointer;
}

.go-back-button:focus {
  outline: none;
}
.go-back-button:hover,
.go-back-button:focus {
  background: #ffa07ab8;
}
#mapid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
}
.leaflet-container {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  background: #efefef;
  border-radius: 20px;
}
.leaflet-popup-pane {
  cursor: pointer;
}
